*{
    margin:0;
    padding:0;
}
body {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items: center;
  font-family:sans-serif;
  color:white;
}
.location,.temperature{
    height: 30vh;
    width:50%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items:center;
    cursor:pointer;
}
.degree-section>span{
    margin:10px;
    font-size:30px;
}
.degree-section>h2{
    font-size:40px;
}
